<div class="wrapper">
  <div class="title">
    <h1>Chat App</h1>
  </div>
  <div class="container">
    <div class="left-side-bar">
      <div class="users-side-bar">
        <h5 style="margin-bottom: 10px">1. Choose a user</h5>
        <select class="form-select" (change)="onUserChange($event)">
          <ng-container *ngFor="let user of users">
            <option [value]="user.userId" [selected]="selectedUser.userId == user.userId ? true : false">{{ user.userName }}</option>
          </ng-container>
        </select>
      </div>
      <hr />
      <div class="channels-side-bar">
        <h5>2. Choose your Channel</h5>
        <div class="channels-list">
          <ng-container *ngFor="let channel of channels">
            <p
              (click)="selectChannel(channel)"
              [ngClass]="
                channel.channelId == selectedChannel.channelId ? 'active' : 'disactive'
              "
            >
              {{ channel.channelName }}
            </p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="chat-window">
      <div class="chats">
        <!-- <div class="user-join">
          <p>Joyse joined the channel</p>
        </div> -->
        <!-- <div class="message incoming">
          <h5>Russel</h5>
          <p>Hello guys</p>
        </div>
        <div class="message outgoing">
          <h5>Sam</h5>
          <p>Hello guys</p>
        </div> -->
      </div>
      <div class="user-input">
        <input
          style="
            font-size: 16px;
            background-color: #ffffff;
            padding: 10px 20px;
            outline: none;
            border: none;
            width: 95%;
            border-radius: 50px 0 0 50px;
          "
          [(ngModel)] = "message"
          type="text"
          placeholder="Type your message..."
        />
        <button
          class="btn"
          (click)="sendMessage($event)"
          style="
            font-size: 17px;
            padding: 10px 20px;
            border: none;
            outline: none;
            width: 5%;
            color: #ffffff;
            background-color: #2791cf;
            border-radius: 0 50px 50px 0;
          "
        >
          <i class="fas fa-paper-plane" style="color: white"></i>
        </button>
      </div>
    </div>
    <!-- <app-chat-window></app-chat-window> -->
  </div>
</div>
