$light-blue: #2791cf;
$light-grey: #7e878c;
$dark-grey: #3f3f3f;
$white:#ffffff;

$font-text: 'Poppins',
sans-serif;
$font-heading:"Ballo 2",
cursive;
$fsize: 16px;
$borderRadius: 10px;

@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  overflow: hidden;

  //Custom scroll
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: $white;
  }
}

.title {
  background-color: $light-blue;
  color: $white;
  padding: 7px 20px;
  // @include flexing(row, space-between, center);
  font-size: 32px;
  font-family: $font-heading;
  // margin-left: 10px;
  border-radius: $borderRadius $borderRadius 0px 0px;
}

.left-side-bar {
  padding-left: 10px;
}

.container {
  background-color: $light-grey;
  padding: 20px;
  max-width: 100%;
  border-radius: 0px 0px $borderRadius $borderRadius;
  @include flexing(row, flex-start, stretch);

  .left-side-bar {
    width: 400px;
    color: $white;
    background-color: $dark-grey;
    border-radius: $borderRadius;
    margin-right: 15px;

    .users-side-bar {
      @include flexing(column, space-between, flex-start);
      padding: 15px;
    }

    .channels-side-bar {
      margin-bottom: 15px;
      padding: 15px 25px 15px 15px;
    }

    .channels-list p {
      font-size: $fsize;
      padding: 10px;
      font-weight: 500;
      // margin-left: 5px;
    }

    .channels-list p:hover {
      cursor: pointer;
      background-color: $light-grey;
      border-radius: 5px;
      width: 100%;
    }

  }

  hr {
    width: 90%;
    margin: 0 15px;
  }

  .chat-window {
    width: 100%;
    // height: 80vh;
    background-color: $dark-grey;
    border-radius: $borderRadius;
    color: $white;
    padding: 15px;

    button.btn-readMore {
      margin-bottom: 10px;
    }

    .chats {
      min-height: 65vh;
      max-height: 70vh;
      overflow-y: auto;
      padding: 20px;

      .user-join {
        font-size: 0.9rem;
        background-color: $white;
        border-radius: $borderRadius;
        color: $dark-grey;
        width: max-content;
        padding: 0 15px;
        margin: 0 auto;
        margin-bottom: 15px;
        ;
      }

      .message {
        color: $dark-grey;
        // background-color: $white;
        padding: 5px;
        color: $white;
        max-width: max-content;
        margin-bottom: 10px;
        // border-radius: 10px 50px 50px 10px;
        border-radius: $borderRadius;
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-bottom: 40px;

        .outgoing.incoming {
          display: flex;
          text-align: left;
          flex: 1;
          flex-direction: row;
          margin-bottom: 40px;
        }

        p {
          font-size: $fsize;
        }

        .chat-avatar {
          margin-right: 20px;
          flex-direction: column;

          img {
            width: 48px;
            height: 48px;
          }

          .chat-name {
            font-size: .75rem;
            color: $light-grey;
            text-align: center;
          }
        }

        .chat-text {
          padding: .4rem 1rem;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          background-color: $light-grey !important;
          font-weight: 300;
          line-height: 150%;
          position: relative;
        }

        .chat-text:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 10px;
          left: -20px;
          border: 10px solid;
          border-color: transparent $light-grey transparent transparent;
        }

        .chat-hour>span.fa-check-circle {
          font-size: 16px;
          color: #9ec94a;
        }

        .chat-hour>span.fa-exclamation-circle {
          font-size: 16px;
          color: #b71e3c;
        }

        .incoming .chat-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .chat-hour {
          padding: 0;
          margin-left: 10px;
          font-size: 0.80rem;
        }
      }

      .outgoing {
        margin-left: auto;
        justify-content: flex-end;
        color: $white;
        // border-radius: 50px 10px 10px 50px;
        border-radius: $borderRadius;

        .chat-avatar {
          margin-left: 20px;
          margin-right: 0;
        }

        .chat-text:before {
          right: -20px;
          border-color: transparent transparent transparent $light-grey;
          left: inherit;
        }
        .chat-info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }



      .user-input {
        @include flexing(row, space-between, stretch);
        padding: 20px;
        margin-bottom: 0px;

        input.input-message {
          font-size: 16px !important;
          background-color: $white !important;
          padding: 10px 20px !important;
          outline: none !important;
          border: none !important;
          width: 95% !important;
          border-radius: 50px 0 0 50px !important;
        }

        button.btn-send {
          font-size: 17px !important;
          padding: 10px 20px !important;
          border: none !important;
          outline: none !important;
          width: 5% !important;
          color: $white !important;
          background-color: $light-blue !important;
          border-radius: 0 50px 50px 0;
        }

      }


    }
  }
}

.active {
  background-color: $light-grey;
  border-radius: 5px;
  width: 100%;
}

button.btn-info {
  background-color: $light-blue !important;
}

.disactive {
  background-color: $dark-grey;
  border-radius: 5px;
  width: 100%;
}

// < 900px
@media screen and (max-width: 900px) {
  wrapper {
    width: 95%;
  }
}
